langchain==0.3.25
langchain-openai==0.3.22
langchain-community==0.3.25
langchain-text-splitters==0.3.8
python-dotenv==1.1.0
faiss-cpu==1.9.0.post1
pypdf==5.6.0
PyMuPDF==1.26.3
Flask==3.0.3
gunicorn==22.0.0